useDynLib(kernelTDA)

import(RcppEigen)
importFrom(Rcpp,evalCpp)
importFrom(Rdpack, reprompt)

export(gaus.kernel)
export(lapl.kernel)
export(pers.image)
export(pf.kernel)
export(pss.kernel)
export(sw.kernel)
export(wass.kernel)
export(wasserstein.distance)
